.App {
  display: flex;
  flex-direction: column;
}

.card-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  background: lightseagreen;
  cursor: pointer;
  padding: 15px;
  margin: 20px;
  box-shadow: 4px 5px 5px gray;
  word-wrap: break-word;
}
.card:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.card:active {
  transform: scale(0.9);
  transition-duration: 1s;
}
